.container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 auto;
  transition: all 0.3s;
}

.btn {
  background-color: #0b7285;
  background-color: #074955;
  background-color: #046f92;
  width: 180px;
  /* background-color: #78bdf6; */
  /* background-color: #228be6; */
  /* background-color: #3a88bd; */
  /* background-color: #1d445e; */
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 100px;
  justify-self: center;
}

.btn:hover,
.btn:active {
  background-color: #0c8599;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  /*change color of label*/
  background-color: inherit;
}

::ng-deep td .mat-form-field-appearance-fill .mat-form-field-flex {
  /*change color of label*/
  background-color: inherit;
  padding: 0;
  margin: 0 auto;
}
